/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background: rgba(173,173,173,.15);
  font-family: Arial;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #b90900;
}

  a:hover {
    text-decoration: underline;
    color: #b90900;
  }

.container {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: #fff;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding-bottom: 0px;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }

  #headerCenter {
    display: none !important;
  }

  #searchBox {
    display: none !important;
  }

  #headerRight {
    min-width: auto;
    max-width: auto;
  }
}

@media (min-width: 668px) {
  .container {
    width: 650px;
  }

  #headerCenter {
    display: none !important;
  }

  #searchBox {
    display: none !important;
  }

  #headerRight {
    min-width: auto;
    max-width: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .containerContent {
    width: 700px;
    position: relative;
    margin: 0px auto;
  }

  #headerCenter {
    display: none !important;
  }

  #searchBox {
    display: flex !important;
  }
}

@media (min-width: 892px) {
  .container {
    width: 870px;
    max-width: 870px;
  }

  .containerContent {
    width: 800px;
  }

  #headerCenter {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
    max-width: 970px;
  }

  .containerContent {
    width: 900px;
  }

  #headerCenter {
    display: none !important;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 1070px;
    max-width: 1070px;
  }

  .containerContent {
    width: 950px;
  }

  #headerCenter {
    display: flex !important;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1120px;
    max-width: 1120px;
  }

  .containerContent {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 1170px;
  }

  .containerContent {
    width: 1050px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1220px;
    max-width: 1220px;
  }

  .containerContent {
    width: 1100px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1270px;
    max-width: 1270px;
  }

  .containerContent {
    width: 1150px;
  }
}

@media (min-width: 1350px) {
  .container {
    width: 1320px;
    max-width: 1320px;
  }

  .containerContent {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
    max-width: 1370px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1470px;
    max-width: 1470px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
    max-width: 1570px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1770px;
    max-width: 1770px;
  }
}

@media (min-width: 2200px) {
  .container {
    width: 2170px;
    max-width: 2170px;
  }
}

@media (min-width: 2400px) {
  .container {
    width: 2370px;
    max-width: 2370px;
  }
}

@media (min-width: 2600px) {
  .container {
    width: 2570px;
    max-width: 2570px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#containerMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

  button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

#searchBox {
  position: relative;
  display: flex;
  clear: both;
  border-radius: 1px;
  height: 24px;
  margin: 0;
  width: 95%;
  top: 2px;
  padding: 0;
  border: 1px solid #b90900;
}

  #searchBox:hover {
    border-color: #b90900;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }

  #searchBox .btnSearch {
    position: absolute;
    top: 1px;
    right: 9px;
    height: 20px;
    width: 20px;
    color: #b90900;
    fill: currentColor;
    cursor: pointer;
  }

  #searchBox input {
    position: relative;
    width: 92%;
    float: left;
    padding-left: 10px;
    border: 0;
    background-color: transparent;
  }

#langBox {
  position: relative;
  clear: both;
  border-radius: 1px;
  margin: 0;
  width: 95%;
  top: 8px;
  padding: 0;
  text-align: right;
  font-size: 12px;
}

  #langBox a:first-child {
    color: #0056b3;
  }

.catTop {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
}

.arrowLeft, .arrowRight {
  width: 2%;
  float: left;
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.catTop a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 20px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticker-wrap {
  overflow: hidden;
  width: 94%;
  float: left;
  margin: 0 1%;
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.tickerItem {
  display: inline-block;
  padding: 0 2rem;
}


  .tickerItem a {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #666;
    font-weight: normal;
    text-transform: uppercase;
  }

    .tickerItem a:hover {
      text-decoration: underline;
    }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.topBanner {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  min-height: 80px;
  position: relative;
}

  .topBanner img {
    width: 100%;
    /*max-height: 110px;*/
  }

  .topBanner div.background {
    position: absolute;
    top: 0px;
    text-align: center;
    min-height: 80px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table;
    background-color: #000;
    opacity: .1;
  }

  .topBanner span {
    color: #ffffff;
    position: absolute;
    display: table-cell;
    font-size: 60px;
    top: 10px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

#content q {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
}

#contentMain {
  display: block;
  justify-content: flex-start;
  margin: 80px 0px;
  width: 100%;
  text-align: center;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #666;
  text-align: center;
}

.copyright {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .container, #content, #headerLeft, #headerRight {
    display: block;
  }

  #headerLeft {
    width: 100%;
  }

  #headerRight {
    width: 100%;
  }

  #logoImg {
    float: left;
  }

    #logoImg img {
      height: 36px;
      margin-top: 6px;
    }

  #logo {
    float: left;
  }

    #logo img {
      height: 50px;
    }

  #myNavbar {
    width: 100%;
    text-align: center;
  }

  #searchBox {
    display: none;
  }

  .topBanner img {
    height: 50px;
  }

  #content {
    margin-top: 0px;
  }

  #video {
    width: 100%;
    margin-top: 0px;
  }

    #video iframe {
      width: 100%;
      max-height: 360px;
      height: auto;
    }

  #buy {
    width: 100%;
  }
}
