<div class="containerContent">
  <div id="content">
    <div class="author">
      <img src="harry.png" alt="" width="126" />
      <div class="text">Founder &amp; Author</div>
    </div>
    <div class="books">
      <div id="buy">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZFPSBVCQB68C8" target="_blank" rel="noopener noreferrer"><img src="./book-cover1.png" border="0" alt="Buy" /></a>
      </div>
      <div id="buy">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZFPSBVCQB68C8" target="_blank" rel="noopener noreferrer"><img src="./book-cover.png" border="0" alt="Buy" /></a>
      </div>
    </div>
  </div>
</div>
